@import "./reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";

body {
  font: var(--font-m);
  color: var(--primary-color);
  background: var(--bg-primary);
}

.app {
  color: var(--primary-color);
  background: var(--bg-primary);
  min-height: 100vh;
}

.page-wrapper {
  display: flex;
}
