.button {
  cursor: pointer;
  color: var(--primary-color);
  padding: 10px 15px;

  &:hover {
    opacity: 0.8;
    fill-opacity: 80%;
    stroke-opacity: 80%;
  }
}

.disabled {
  opacity: 0.5;
}

.clear,
.clear_inverted {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: transparent;
}

.clear_inverted {
  color: var(--inverted-primary-color);
}

.background {
  border: none;
  outline: none;
  background-color: var(--inverted-bg-primary);
  color: var(--inverted-primary-color);
}

.background_inverted {
  border: none;
  outline: none;
  background-color: var(--bg-primary);
  color: var(--primary-color);
}

.outline,
.outline_red {
  padding: 10px 15px;
  color: var(--primary-color);
  background-color: transparent;
}

.outline {
  border: 1px solid var(--primary-color);
}

.outline_red {
  border: 1px solid var(--error-text);
  color: var(--error-text);
}

.square {
  padding: 0;
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}

.size_m.square {
  width: var(--font-height-m);
  height: var(--font-height-m);
}

.size_l.square {
  width: var(--font-height-l);
  height: var(--font-height-l);
}

.size_xl.square {
  width: var(--font-height-xl);
  height: var(--font-height-xl);
}
