.link_item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link_icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  .link_text {
    opacity: 0;
    transition: 0.2 all;
    width: 0;
  }
}
