.inputWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.input {
  flex-grow: 1;
  border: var(--primary-color) 1px solid;
  color: var(--primary-color);
  outline: none;
  padding: 5px 8px;
  border-radius: 7px;
  background-color: transparent;
}

.readonly {
  opacity: 0.7;
}
