.articleCodeBlockComponent {
  margin-top: 20px;
  padding: 20px;
  border: var(--primary-color) 1px solid;
  overflow-x: auto;
  background-color: var(--code-bg);
  position: relative;
}

.copyBtn {
  position: absolute;
  top: 20px;
  right: 20px;

  path {
    stroke: var(--primary-color);
  }
}
