.app.dark {
  --primary-color: #ffd60a;
  --secondary-color: #ffc300;
  --inverted-primary-color: #0a6ebd;
  --inverted-secondary-color: #5a96e3;
  --bg-primary: #003566;
  --bg-secondary: #001d3d;
  --inverted-bg-primary: #e7cea6;
  --inverted-bg-secondary: #a1c2f1;
}
