.app.light {
  --primary-color: #0A6EBD;
  --secondary-color: #5A96E3;
  --inverted-primary-color: #ffd60a;
  --inverted-secondary-color: #ffc300;

  --bg-primary: #E7CEA6;
  --bg-secondary: #A1C2F1;
  --inverted-bg-primary: #003566;
  --inverted-bg-secondary: #001d3d;
}