.app_theme_orange {
  --primary-color: #ff2d1a;
  --secondary-color: #cb1b0b;
  --inverted-primary-color: #fbf7f4;
  --inverted-secondary-color: rgb(255 227 208);
  --bg-primary: #fbf7f4;
  --bg-secondary: rgb(233 233 233);
  --inverted-bg-primary: #ff9842;
  --inverted-bg-secondary: rgb(161 194 241);

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #c4c4c4;
}
