.commentComponent {
  padding: 10px;
  border: 1px solid var(--primary-color);
  margin-top: 10px;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content {
  margin-top: 8px;
}

.loading {
  border: none;
}
