.appLink {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
    fill-opacity: 80%;
    stroke-opacity: 80%;
  }
}

.primary {
  color: var(--inverted-primary-color);
}

.secondary {
  color: var(--inverted-secondary-color);
}

.red {
  color: red;
}
